<!DOCTYPE html>
<head>
	<title>yValidator Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- dependencies -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>	
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<!-- yvalidator -->
	<script src="src/yvalidator.js"></script>
</head>
<body>
	<div class="container">
		<form action="" ng-app>
			<fieldset ng-controller="ContactController">
				<legend>Contact Us</legend>
				<label for="email">Email</label>
				<input type="text" id="email" class="input-xlarge" placeholder="Your e-mail" ng-model="email"/>		
				<label for="message">Message</label>
				<textarea id="message" placeholder="Type your message here" class="input-xlarge" rows="10" ng-model="message"></textarea>
				<div class="buttons">
					<span id="submit" class="btn btn-info btn-large" ng-click="sendMessage($event)"><i class="icon-ok-sign icon-white"></i> Submit</span>
				</div>
			</fieldset>
		</form>
	</div>
<script>

function ContactController ($scope, $http, $element) {	
	$scope.sendMessage = function(e) {

		// define your validation in list of map
		// and push it to yvalidator validate
		var valid = yvalidator.validate([
		{
			// valid: validation expression (must return boolean)
			valid: ($scope.email),
			// element target to show tooltip
			target: '#email',
			// message to show in the tooltip
			message: 'Please provide your email'
		},		
		{
			valid: (!$scope.email || yvalidator.default.email($scope.email)),
			target: '#email',
			message: 'Invalid email'
		},
		{
			valid: ($scope.message),
			target: '#message',
			message: 'Please write your message'
		},
		{
			valid: (!$scope.message || yvalidator.default.minLength($scope.message, 10)),
			target: '#message',
			message: 'Please write at least 10 characters'
		}
		]);

		if (valid) {
			alert('Success!')
		} 
		return false;		
	}
};

</script>
</body>
</html>